.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.mypy_cache
.pytest_cache
*.ipynb_checkpoints
train_*.log
upload_data.ipynb
train_distillation.ipynb
test_distillation.py
res_*.png
image.png
deckTest.png
4card.png
girl.webp
weights/
datasets/
data/
fonts/
loss/
structures/
utils/__pycache__
models/__pycache__
embedding/

